<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Fraudulent tranasaction Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="trans_amount" placeholder="trans_amount" required="required" /><br/>
        <input type="text" name="sender_old_bal" placeholder="sender_old_bal" required="required" /><br/>
		<input type="text" name="sender_new_bal" placeholder="sender_new_bal" required="required" /><br/>
        <input type="text" name="receiver_old_bal" placeholder="receiver_old_bal" required="required" /><br/>
		<input type="text" name="receiver_new_bal" placeholder="receiver_new_bal" required="required" /><br/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>